body {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: white repeat-x top url(header-bg.png);
	width: 846px;
	margin: 0 auto;
}
td, th {
	vertical-align: top;
}
td.middle {
	vertical-align: middle;
}
tr.spacer {
	height: 0.8em;
}
div.body {
	padding: 0 10px;
}
li {
	list-style-image: url(bullet.png);
}
dt {
	font-weight: bold;
}

.body {
	max-width: 1000px;
}

#canvas-container {
	background-color: #999;
	padding: 8px;
	border: 3px solid lightgrey;
	width: 803px;
}

label {
	position: absolute;
	right: 0;
	font-family: helvetica, arial, sans-serif;
	font-size: smaller;
}

form {
	position: relative;
	margin-top: 6px;
}

	form img {
		vertical-align: bottom;
		margin-left: 30px;
	}

#canvas-div {
	position: relative;
	top: 0;
	left: 0;
	width: 803px;
	height: 506px;
	background-color: #7e7e7e;
}
input[type="range"] {
	width: 80px;
	vertical-align: bottom;
}

